.gallery {
    display: flex;
    max-width: 1440px;
    /* height: 696px; */
    padding: 24px 156px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background: #FFF;

}

.gallery-item {
    display: flex;
    max-width: calc((100% - 24px*2)/3);
    max-height: 200px;
}

/* animation */
.gallery-item:hover {
    /* cursor: url('../img/bxs_hand-down.png'), pointer; */
    transform: scale(1.025);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sl-wrapper {   
    background: #2E2F42CC;    
}
.sl-wrapper button.sl-close {
    color: #FFF; 
}
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next {
color: #FFF;
}
.sl-wrapper.simple-lightbox div.sl-counter {
    color: #FFF;
}
